.logo {
  height: 60px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.user-head {
  display: flex;
  float: left;
}

/* a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  } */

/* Navbar */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    margin-left: 300px;
    margin-right: 0px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
  } */

/* .navbar ul {
    display: flex;
  } */

/* .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
  } */

/* .navbar a:hover {
    color: var(--primary-color);
  } */

/* .navbar .welcome span {
    margin-right: 0.6rem;
  } */
