@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

.side-menu {
  position: fixed;
  height: 100vh;
  left: 0;
  width: 200px;
  max-width: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#072c4e), to(#03121f));
  background-image: linear-gradient(to bottom, #072c4e, #03121f);
  z-index: 1000;
  -webkit-transition: max-width 200ms, left 200ms, linear;
  transition: max-width 200ms, left 200ms, linear;
}

.side-menu .nav-toggle {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #be0606;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.side-menu.collapsed {
  max-width: 80px;
}

.side-menu.collapsed .nav-toggle i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.side-menu.collapsed .logo-wrapper img {
  width: 30px;
}

.side-menu.collapsed .menu-list .menu-item {
  text-align: center;
  padding: 0px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.side-menu.collapsed .menu-list .menu-item svg {
  margin-top: 15px;
}

.side-menu.collapsed .menu-list .menu-item.active {
  background-color: #041c32;
  border: 0;
}

.side-menu.collapsed .menu-list .menu-item a {
  display: none;
}

.side-menu.collapsed .menu-list .menu-item i, .side-menu.collapsed .menu-list .menu-item svg {
  line-height: 50px;
  font-size: 14pt;
  margin-right: 0;
}

.side-menu .logo-wrapper {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.side-menu .logo-wrapper img {
  width: 50px;
}

.side-menu .menu-list {
  width: 100%;
  padding-top: 40px;
}

.side-menu .menu-list .menu-item {
  width: 100%;
  padding: 10px 20px;
  cursor: pointer !important;
}

.side-menu .menu-list .menu-item:hover a, .side-menu .menu-list .menu-item:hover i, .side-menu .menu-list .menu-item:hover svg {
  color: #fff !important;
  font-weight: 300;
}

.side-menu .menu-list .menu-item.active {
  background-color: #041729;
  border-right: 2px solid #be0606;
}

.side-menu .menu-list .menu-item.active a, .side-menu .menu-list .menu-item.active i, .side-menu .menu-list .menu-item.active svg {
  color: #fff;
  font-weight: 700;
}

.side-menu .menu-list .menu-item a, .side-menu .menu-list .menu-item i, .side-menu .menu-list .menu-item svg {
  font-size: 10pt;
}

.side-menu .menu-list .menu-item a {
  color: #b3b3b3;
  font-weight: 300;
  margin-left: 10px;
}

.side-menu .menu-list .menu-item i, .side-menu .menu-list .menu-item svg {
  display: inline-block;
  color: #fff;
}

.dashboard-wrapper {
  min-height: 100vh;
  position: relative;
  background-color: whitesmoke;
  margin-left: 200px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.dashboard-wrapper.collapsed {
  width: calc(100% - 80px);
  margin-left: 80px;
}

.dashboard-wrapper .dashboard-content {
  padding: 2em;
}

.dashboard-wrapper .bread-crumb {
  background-color: #fff;
  padding: 1em 2em;
  color: #4d4d4d;
  font-size: 10pt;
}

.header {
  padding: 1em 3em;
  color: red;
  text-align: right;
  z-index: 999;
}

.header a {
  color: #072c4e;
  font-size: 10pt;
}

.header .name-abbv {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-weight: 900;
  font-size: 10pt;
  margin-right: 10px;
  background-color: #072c4e;
  line-height: 30px;
}

.header .mobile-nav-toggle {
  display: none;
}

@media screen and (max-width: 720px) {
  .mobile-nav-toggle {
    display: block !important;
    position: absolute;
    top: 10px;
    color: #fff !important;
    left: 10px;
    background-color: #010408;
    height: 40px;
    width: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 200;
  }
  .mobile-nav-toggle:hover {
    background-color: #03121f;
  }
  .side-menu {
    -webkit-transition: left 200ms linear;
    transition: left 200ms linear;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .side-menu .menu-list {
    padding-top: 0;
  }
  .side-menu.collapsed {
    left: -100vh;
  }
  .header {
    background-color: #072c4e;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .header a {
    color: #fff;
  }
  .header .name-abbv {
    background-color: #fff;
  }
  .dashboard-wrapper {
    width: 100% !important;
    position: relative;
    margin-left: 0 !important;
  }
  .dashboard-wrapper.collapsed {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .mobile-nav-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #03121f;
    border-radius: 50%;
  }
  .mobile-nav-toggle span {
    content: '';
    height: 1px;
    background-color: #072c4e;
    width: 100%;
  }
}
/*# sourceMappingURL=layout.css.map */